@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

#root{
background: linear-gradient(#ccffdd, #f4ff07,#ccffdd, #f4ff07);
min-height: 120vh;
}